.modulemenu-action[data-modulemenu-identifier^="viewmend_"] .modulemenu-icon .icon,
.modulemenu-action[data-modulemenu-identifier="tools_viewmendtracker"] .modulemenu-icon .icon {
  --icon-size: calc(var(--modulemenu-icon-size) * .8);
}

.vm-modulemenu-group > .modulemenu-action .vm-modulemenu-group__icon {
  display: grid;
  place-items: center;
}

.vm-modulemenu-group > .modulemenu-action .vm-modulemenu-group__icon svg {
  width: 80%;
  height: 80%;
}

.vm-modulemenu-group > .modulemenu-group-container {
  margin-block-start: var(--modulemenu-spacer);
}
